In [1]:
#Importing libraries
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
#reading data
df = pd.read_csv("taedata.txt",header = None)
df.head()

   0   1   2  3   4  5
0  1  23   3  1  19  3
1  2  15   3  1  17  3
2  1  23   3  2  49  3
3  1   5   2  2  33  3
4  2   7  11  2  55  3

# Dataset Preparation

In [3]:
#adding features name to the data
data=pd.DataFrame(df.values, columns = ["englishSpeaker", "CourseInstructor", "Course", "Semester","Classsize","grade"])
data.head()

   englishSpeaker  CourseInstructor  Course  Semester  Classsize  grade
0               1                23       3         1         19      3
1               2                15       3         1         17      3
2               1                23       3         2         49      3
3               1                 5       2         2         33      3
4               2                 7      11         2         55      3

In [4]:
data1=pd.DataFrame(data,columns={"CourseInstructor","Course"})

In [5]:
data2= pd.get_dummies(data1.Course,prefix='Course',drop_first=True)
data2.head()

,Course_2,Course_3,Course_4,Course_5,Course_6,Course_7,Course_8,Course_9,Course_10,Course_11,...,Course_17,Course_18,Course_19,Course_20,Course_21,Course_22,Course_23,Course_24,Course_25,Course_26
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [6]:
data3 = pd.get_dummies(data1.CourseInstructor, prefix='CourseInstructor',drop_first=True)
data3.head()

,CourseInstructor_2,CourseInstructor_3,CourseInstructor_4,CourseInstructor_5,CourseInstructor_6,CourseInstructor_7,CourseInstructor_8,CourseInstructor_9,CourseInstructor_10,CourseInstructor_11,...,CourseInstructor_16,CourseInstructor_17,CourseInstructor_18,CourseInstructor_19,CourseInstructor_20,CourseInstructor_21,CourseInstructor_22,CourseInstructor_23,CourseInstructor_24,CourseInstructor_25
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
data4=pd.DataFrame(data,columns={"englishSpeaker"})
englishSpeaker1=[]
for i in data4.englishSpeaker:
    if i==1:
        englishSpeaker1.append(0)
    else :
        englishSpeaker1.append(1)
data4['englishSpeaker1']=englishSpeaker1
data4.head()

   englishSpeaker  englishSpeaker1
0               1                0
1               2                1
2               1                0
3               1                0
4               2                1

In [8]:
data5=pd.DataFrame(data,columns={"Semester"})

In [9]:
data5=pd.DataFrame(data,columns={"Semester"})
Semester1=[]
for i in data5.Semester:
    if i==1:
        Semester1.append(0)
    else :
        Semester1.append(1)
data5['Semester1']=Semester1
data5.head()

   Semester  Semester1
0         1          0
1         1          0
2         2          1
3         2          1
4         2          1

In [10]:
data6= pd.concat([data4, data5],axis=1)
data6.head()

   englishSpeaker  englishSpeaker1  Semester  Semester1
0               1                0         1          0
1               2                1         1          0
2               1                0         2          1
3               1                0         2          1
4               2                1         2          1

In [11]:
data7=pd.DataFrame(data6,columns={"englishSpeaker1","Semester1"})
data7.head()

   Semester1  englishSpeaker1
0          0                0
1          0                1
2          1                0
3          1                0
4          1                1

In [12]:
data8= pd.concat([data2, data3],axis=1)
data8.head()

,Course_2,Course_3,Course_4,Course_5,Course_6,Course_7,Course_8,Course_9,Course_10,Course_11,...,CourseInstructor_16,CourseInstructor_17,CourseInstructor_18,CourseInstructor_19,CourseInstructor_20,CourseInstructor_21,CourseInstructor_22,CourseInstructor_23,CourseInstructor_24,CourseInstructor_25
0,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [13]:
data10= pd.concat([data7, data8],axis=1)
data10.head()

,Semester1,englishSpeaker1,Course_2,Course_3,Course_4,Course_5,Course_6,Course_7,Course_8,Course_9,...,CourseInstructor_16,CourseInstructor_17,CourseInstructor_18,CourseInstructor_19,CourseInstructor_20,CourseInstructor_21,CourseInstructor_22,CourseInstructor_23,CourseInstructor_24,CourseInstructor_25
0,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
data9=pd.DataFrame(data,columns={"Classsize"})
data9.head()

   Classsize
0         19
1         17
2         49
3         33
4         55

# Feature Scaling

In [15]:
#from sklearn.preprocessing import StandardScaler
#sc= StandardScaler()
from sklearn.preprocessing import MinMaxScaler
sc= MinMaxScaler()

In [16]:
classsize= sc.fit_transform(data9)

In [17]:
data11=pd.DataFrame(classsize, columns=['classsize']) 
data11.head()

   classsize
0   0.253968
1   0.222222
2   0.730159
3   0.476190
4   0.825397

In [18]:
X= pd.concat([data11, data10],axis=1)
X.head()

,classsize,Semester1,englishSpeaker1,Course_2,Course_3,Course_4,Course_5,Course_6,Course_7,Course_8,...,CourseInstructor_16,CourseInstructor_17,CourseInstructor_18,CourseInstructor_19,CourseInstructor_20,CourseInstructor_21,CourseInstructor_22,CourseInstructor_23,CourseInstructor_24,CourseInstructor_25
0,0.253968,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0.222222,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0.730159,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,0.476190,1,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0.825397,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [19]:
y=data['grade']
y.head()

0    3
1    3
2    3
3    3
4    3
Name: grade, dtype: int64

# ANN Model Creation

In [20]:
# Importing the Keras libraries and packages
import keras
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import LeakyReLU,PReLU,ELU
from keras.layers import Dropout

Using TensorFlow backend.
/home/sakil/anaconda/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/sakil/anaconda/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/sakil/anaconda/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/sakil/anaconda/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/sakil/anaconda/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/sakil/anaconda/lib/python3.7/site-packages/tensorflow/python/framework/dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
/home/sakil/anaconda/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/sakil/anaconda/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/sakil/anaconda/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/sakil/anaconda/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/sakil/anaconda/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/sakil/anaconda/lib/python3.7/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [21]:
from keras.optimizers import SGD

In [23]:

#In ANN , if the target variable is categorivcal , we need to perform one hot encoding
y= pd.get_dummies(y)
y.head()

   1  2  3
0  0  0  1
1  0  0  1
2  0  0  1
3  0  0  1
4  0  0  1

In [24]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [25]:
# Initialising the ANN
classifier = Sequential()

In [26]:
# Adding the input layer and the first hidden layer
#we are giving output_dim=6,input_dim=11 as we have 11 input features
#we are using init='he_uniform'initialization,we are using activation='relu',generally relu performs well
classifier.add(Dense(output_dim =26, init = 'he_uniform',activation='relu',input_dim = X_train.shape[1]))

/home/sakil/anaconda/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", input_dim=52, units=26, kernel_initializer="he_uniform")`
  after removing the cwd from sys.path.

In [27]:
# Adding the second hidden layer
classifier.add(Dense(output_dim =26, init = 'he_uniform',activation='relu'))

/home/sakil/anaconda/lib/python3.7/site-packages/ipykernel_launcher.py:2: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=26, kernel_initializer="he_uniform")`

In [28]:
# Adding the second hidden layer
classifier.add(Dense(output_dim =26, init = 'he_uniform',activation='relu'))

/home/sakil/anaconda/lib/python3.7/site-packages/ipykernel_launcher.py:2: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=26, kernel_initializer="he_uniform")`

In [29]:
# Adding the output layer
#as output layer will be 1 so we are using output_dim=1
#In output layer case , we are using activation function=sigmoid
classifier.add(Dense(output_dim = 3, init = 'he_uniform', activation = 'softmax'))

/home/sakil/anaconda/lib/python3.7/site-packages/ipykernel_launcher.py:4: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="softmax", units=3, kernel_initializer="he_uniform")`
  after removing the cwd from sys.path.

In [30]:
opt = SGD(lr=0.2, momentum=0.7)
# Compiling the ANN
#here we are uisng opimizer=Adamax,loss=binary_crossentropy as it is binary classification
#metrics=accuracy
classifier.compile(optimizer = opt, loss = 'categorical_crossentropy', metrics = ['accuracy'])

In [31]:
# Fitting the ANN to the Training set
#we are making model
model_history=classifier.fit(X_train, y_train,validation_split=0.1, batch_size = 10, nb_epoch = 200)

/home/sakil/anaconda/lib/python3.7/site-packages/ipykernel_launcher.py:3: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.
  This is separate from the ipykernel package so we can avoid doing imports until

WARNING:tensorflow:From /home/sakil/anaconda/lib/python3.7/site-packages/keras/backend/tensorflow_backend.py:422: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

Train on 108 samples, validate on 12 samples
Epoch 1/200
108/108 [==============================] - 1s 9ms/step - loss: 1.1344 - accuracy: 0.3611 - val_loss: 1.0668 - val_accuracy: 0.3333
Epoch 2/200
108/108 [==============================] - 0s 248us/step - loss: 1.1074 - accuracy: 0.3611 - val_loss: 1.0643 - val_accuracy: 0.2500
Epoch 3/200
108/108 [==============================] - 0s 377us/step - loss: 1.0697 - accuracy: 0.4167 - val_loss: 0.8983 - val_accuracy: 0.7500
Epoch 4/200
108/108 [==============================] - 0s 320us/step - loss: 1.0037 - accuracy: 0.4167 - val_loss: 0.8256 - val_accuracy: 0.6667
Epoch 5/200
108/108 [==============================] - 0s 351us/step - loss: 1.0318 - accuracy: 0.4722 - val_loss: 0.9958 - val_accuracy: 0.3333
Epoch 6/200
108/108 [==============================] - 0s 357us/step - loss: 1.0045 - accuracy: 0.4352 - val_loss: 0.6431 - val_accuracy: 0.9167
Epoch 7/200
108/108 [==============================] - 0s 281us/step - loss: 0.9532 - accuracy: 0.5370 - val_loss: 0.5622 - val_accuracy: 1.0000
Epoch 8/200
108/108 [==============================] - 0s 297us/step - loss: 0.9258 - accuracy: 0.5370 - val_loss: 0.7355 - val_accuracy: 0.6667
Epoch 9/200
108/108 [==============================] - 0s 309us/step - loss: 1.0073 - accuracy: 0.4722 - val_loss: 0.6659 - val_accuracy: 0.6667
Epoch 10/200
108/108 [==============================] - 0s 346us/step - loss: 0.8590 - accuracy: 0.6481 - val_loss: 0.7298 - val_accuracy: 0.7500
Epoch 11/200
108/108 [==============================] - 0s 383us/step - loss: 0.8926 - accuracy: 0.5833 - val_loss: 0.4690 - val_accuracy: 0.8333
Epoch 12/200
108/108 [==============================] - 0s 301us/step - loss: 0.7932 - accuracy: 0.5741 - val_loss: 0.6410 - val_accuracy: 0.6667
Epoch 13/200
108/108 [==============================] - 0s 302us/step - loss: 0.8687 - accuracy: 0.5926 - val_loss: 0.7326 - val_accuracy: 0.7500
Epoch 14/200
108/108 [==============================] - 0s 389us/step - loss: 0.8855 - accuracy: 0.6296 - val_loss: 0.5973 - val_accuracy: 0.8333
Epoch 15/200
108/108 [==============================] - 0s 325us/step - loss: 0.7865 - accuracy: 0.6204 - val_loss: 0.5034 - val_accuracy: 0.8333
Epoch 16/200
108/108 [==============================] - 0s 321us/step - loss: 0.7244 - accuracy: 0.7037 - val_loss: 0.3903 - val_accuracy: 0.8333
Epoch 17/200
108/108 [==============================] - 0s 283us/step - loss: 0.6820 - accuracy: 0.7130 - val_loss: 0.8999 - val_accuracy: 0.5000
Epoch 18/200
108/108 [==============================] - 0s 427us/step - loss: 0.8037 - accuracy: 0.6296 - val_loss: 0.7085 - val_accuracy: 0.7500
Epoch 19/200
108/108 [==============================] - 0s 276us/step - loss: 0.7798 - accuracy: 0.6574 - val_loss: 0.5479 - val_accuracy: 0.9167
Epoch 20/200
108/108 [==============================] - 0s 454us/step - loss: 0.6602 - accuracy: 0.6852 - val_loss: 0.3198 - val_accuracy: 1.0000
Epoch 21/200
108/108 [==============================] - 0s 298us/step - loss: 0.6420 - accuracy: 0.6944 - val_loss: 0.3558 - val_accuracy: 1.0000
Epoch 22/200
108/108 [==============================] - 0s 289us/step - loss: 0.6521 - accuracy: 0.7130 - val_loss: 0.3943 - val_accuracy: 0.8333
Epoch 23/200
108/108 [==============================] - 0s 259us/step - loss: 0.6964 - accuracy: 0.6852 - val_loss: 0.7105 - val_accuracy: 0.5833
Epoch 24/200
108/108 [==============================] - 0s 335us/step - loss: 0.7989 - accuracy: 0.6481 - val_loss: 0.4682 - val_accuracy: 0.8333
Epoch 25/200
108/108 [==============================] - 0s 332us/step - loss: 0.7269 - accuracy: 0.5926 - val_loss: 0.4022 - val_accuracy: 0.9167
Epoch 26/200
108/108 [==============================] - 0s 488us/step - loss: 0.5508 - accuracy: 0.7500 - val_loss: 0.4335 - val_accuracy: 0.7500
Epoch 27/200
108/108 [==============================] - 0s 293us/step - loss: 0.6895 - accuracy: 0.6667 - val_loss: 0.5212 - val_accuracy: 0.7500
Epoch 28/200
108/108 [==============================] - 0s 324us/step - loss: 0.5913 - accuracy: 0.7130 - val_loss: 0.3879 - val_accuracy: 0.8333
Epoch 29/200
108/108 [==============================] - 0s 316us/step - loss: 0.5345 - accuracy: 0.7500 - val_loss: 0.9753 - val_accuracy: 0.7500
Epoch 30/200
108/108 [==============================] - 0s 264us/step - loss: 0.5604 - accuracy: 0.6944 - val_loss: 0.4537 - val_accuracy: 0.6667
Epoch 31/200
108/108 [==============================] - 0s 278us/step - loss: 0.5324 - accuracy: 0.7315 - val_loss: 0.8600 - val_accuracy: 0.6667
Epoch 32/200
108/108 [==============================] - 0s 286us/step - loss: 0.5186 - accuracy: 0.7593 - val_loss: 0.4699 - val_accuracy: 0.9167
Epoch 33/200
108/108 [==============================] - 0s 240us/step - loss: 0.5171 - accuracy: 0.7315 - val_loss: 0.2876 - val_accuracy: 0.8333
Epoch 34/200
108/108 [==============================] - 0s 308us/step - loss: 0.4779 - accuracy: 0.7500 - val_loss: 0.3593 - val_accuracy: 0.9167
Epoch 35/200
108/108 [==============================] - 0s 258us/step - loss: 0.4615 - accuracy: 0.7500 - val_loss: 0.3994 - val_accuracy: 0.8333
Epoch 36/200
108/108 [==============================] - 0s 372us/step - loss: 0.5036 - accuracy: 0.7407 - val_loss: 0.3411 - val_accuracy: 0.8333
Epoch 37/200
108/108 [==============================] - 0s 208us/step - loss: 0.4868 - accuracy: 0.7870 - val_loss: 0.1932 - val_accuracy: 1.0000
Epoch 38/200
108/108 [==============================] - 0s 281us/step - loss: 0.4990 - accuracy: 0.7778 - val_loss: 0.3365 - val_accuracy: 0.7500
Epoch 39/200
108/108 [==============================] - 0s 237us/step - loss: 0.6224 - accuracy: 0.7130 - val_loss: 0.4035 - val_accuracy: 0.8333
Epoch 40/200
108/108 [==============================] - 0s 300us/step - loss: 0.4825 - accuracy: 0.7778 - val_loss: 0.3333 - val_accuracy: 0.9167
Epoch 41/200
108/108 [==============================] - 0s 308us/step - loss: 0.4528 - accuracy: 0.7500 - val_loss: 0.3484 - val_accuracy: 0.9167
Epoch 42/200
108/108 [==============================] - 0s 255us/step - loss: 0.4705 - accuracy: 0.7778 - val_loss: 0.8914 - val_accuracy: 0.7500
Epoch 43/200
108/108 [==============================] - 0s 315us/step - loss: 0.8102 - accuracy: 0.7130 - val_loss: 0.6311 - val_accuracy: 0.6667
Epoch 44/200
108/108 [==============================] - 0s 312us/step - loss: 0.7973 - accuracy: 0.5463 - val_loss: 0.5890 - val_accuracy: 0.8333
Epoch 45/200
108/108 [==============================] - 0s 329us/step - loss: 0.6474 - accuracy: 0.6944 - val_loss: 0.4138 - val_accuracy: 0.8333
Epoch 46/200
108/108 [==============================] - 0s 223us/step - loss: 0.5988 - accuracy: 0.7500 - val_loss: 0.5380 - val_accuracy: 0.8333
Epoch 47/200
108/108 [==============================] - 0s 320us/step - loss: 0.6068 - accuracy: 0.6759 - val_loss: 0.5730 - val_accuracy: 0.7500
Epoch 48/200
108/108 [==============================] - 0s 263us/step - loss: 0.5368 - accuracy: 0.7593 - val_loss: 0.3908 - val_accuracy: 0.8333
Epoch 49/200
108/108 [==============================] - 0s 308us/step - loss: 0.4802 - accuracy: 0.7407 - val_loss: 0.3806 - val_accuracy: 0.8333
Epoch 50/200
108/108 [==============================] - 0s 237us/step - loss: 0.5183 - accuracy: 0.7500 - val_loss: 0.2961 - val_accuracy: 1.0000
Epoch 51/200
108/108 [==============================] - 0s 222us/step - loss: 0.6443 - accuracy: 0.7037 - val_loss: 0.5548 - val_accuracy: 0.7500
Epoch 52/200
108/108 [==============================] - 0s 280us/step - loss: 0.6549 - accuracy: 0.6667 - val_loss: 0.6101 - val_accuracy: 0.7500
Epoch 53/200
108/108 [==============================] - 0s 362us/step - loss: 0.7614 - accuracy: 0.5926 - val_loss: 0.7890 - val_accuracy: 0.5000
Epoch 54/200
108/108 [==============================] - 0s 282us/step - loss: 0.6972 - accuracy: 0.6389 - val_loss: 1.2918 - val_accuracy: 0.3333
Epoch 55/200
108/108 [==============================] - 0s 311us/step - loss: 0.5822 - accuracy: 0.6852 - val_loss: 0.5670 - val_accuracy: 0.7500
Epoch 56/200
108/108 [==============================] - 0s 373us/step - loss: 0.5556 - accuracy: 0.6759 - val_loss: 0.7457 - val_accuracy: 0.5833
Epoch 57/200
108/108 [==============================] - 0s 255us/step - loss: 0.5698 - accuracy: 0.6759 - val_loss: 0.5429 - val_accuracy: 0.6667
Epoch 58/200
108/108 [==============================] - 0s 216us/step - loss: 0.5651 - accuracy: 0.6944 - val_loss: 0.6260 - val_accuracy: 0.5833
Epoch 59/200
108/108 [==============================] - 0s 237us/step - loss: 0.5670 - accuracy: 0.7037 - val_loss: 0.5145 - val_accuracy: 0.5833
Epoch 60/200
108/108 [==============================] - 0s 303us/step - loss: 0.5228 - accuracy: 0.7500 - val_loss: 0.4386 - val_accuracy: 0.6667
Epoch 61/200
108/108 [==============================] - 0s 240us/step - loss: 0.6201 - accuracy: 0.6759 - val_loss: 0.5953 - val_accuracy: 0.6667
Epoch 62/200
108/108 [==============================] - 0s 290us/step - loss: 0.6110 - accuracy: 0.6944 - val_loss: 0.8561 - val_accuracy: 0.6667
Epoch 63/200
108/108 [==============================] - 0s 222us/step - loss: 0.6029 - accuracy: 0.7315 - val_loss: 0.3725 - val_accuracy: 0.9167
Epoch 64/200
108/108 [==============================] - 0s 227us/step - loss: 0.4587 - accuracy: 0.7685 - val_loss: 0.3281 - val_accuracy: 0.9167
Epoch 65/200
108/108 [==============================] - 0s 231us/step - loss: 0.4051 - accuracy: 0.7778 - val_loss: 0.6532 - val_accuracy: 0.7500
Epoch 66/200
108/108 [==============================] - 0s 275us/step - loss: 0.4392 - accuracy: 0.8056 - val_loss: 0.3606 - val_accuracy: 0.7500
Epoch 67/200
108/108 [==============================] - 0s 252us/step - loss: 0.3778 - accuracy: 0.7870 - val_loss: 0.4344 - val_accuracy: 0.8333
Epoch 68/200
108/108 [==============================] - 0s 223us/step - loss: 0.4942 - accuracy: 0.7685 - val_loss: 0.5371 - val_accuracy: 0.6667
Epoch 69/200
108/108 [==============================] - 0s 301us/step - loss: 0.3940 - accuracy: 0.7407 - val_loss: 0.4072 - val_accuracy: 0.8333
Epoch 70/200
108/108 [==============================] - 0s 263us/step - loss: 0.8733 - accuracy: 0.6481 - val_loss: 0.7740 - val_accuracy: 0.6667
Epoch 71/200
108/108 [==============================] - 0s 274us/step - loss: 0.7886 - accuracy: 0.5648 - val_loss: 0.5261 - val_accuracy: 0.7500
Epoch 72/200
108/108 [==============================] - 0s 219us/step - loss: 0.5886 - accuracy: 0.7130 - val_loss: 0.5016 - val_accuracy: 0.8333
Epoch 73/200
108/108 [==============================] - 0s 248us/step - loss: 0.5447 - accuracy: 0.7407 - val_loss: 0.6235 - val_accuracy: 0.8333
Epoch 74/200
108/108 [==============================] - 0s 247us/step - loss: 0.5057 - accuracy: 0.7315 - val_loss: 0.3652 - val_accuracy: 0.7500
Epoch 75/200
108/108 [==============================] - 0s 249us/step - loss: 0.4883 - accuracy: 0.7593 - val_loss: 0.7958 - val_accuracy: 0.6667
Epoch 76/200
108/108 [==============================] - 0s 218us/step - loss: 0.4414 - accuracy: 0.8148 - val_loss: 0.4763 - val_accuracy: 0.6667
Epoch 77/200
108/108 [==============================] - 0s 275us/step - loss: 0.7429 - accuracy: 0.6852 - val_loss: 0.5669 - val_accuracy: 0.8333
Epoch 78/200
108/108 [==============================] - 0s 252us/step - loss: 0.5277 - accuracy: 0.7407 - val_loss: 0.4287 - val_accuracy: 0.9167
Epoch 79/200
108/108 [==============================] - 0s 247us/step - loss: 0.4161 - accuracy: 0.7593 - val_loss: 0.6171 - val_accuracy: 0.8333
Epoch 80/200
108/108 [==============================] - 0s 247us/step - loss: 0.4731 - accuracy: 0.7500 - val_loss: 0.3061 - val_accuracy: 0.8333
Epoch 81/200
108/108 [==============================] - 0s 211us/step - loss: 0.4283 - accuracy: 0.7778 - val_loss: 0.5628 - val_accuracy: 0.9167
Epoch 82/200
108/108 [==============================] - 0s 251us/step - loss: 0.7360 - accuracy: 0.7037 - val_loss: 0.4679 - val_accuracy: 0.8333
Epoch 83/200
108/108 [==============================] - 0s 217us/step - loss: 0.5481 - accuracy: 0.7778 - val_loss: 0.2362 - val_accuracy: 0.9167
Epoch 84/200
108/108 [==============================] - 0s 235us/step - loss: 0.4634 - accuracy: 0.7963 - val_loss: 0.3232 - val_accuracy: 0.8333
Epoch 85/200
108/108 [==============================] - 0s 332us/step - loss: 0.5304 - accuracy: 0.7500 - val_loss: 0.2877 - val_accuracy: 0.8333
Epoch 86/200
108/108 [==============================] - 0s 266us/step - loss: 0.4491 - accuracy: 0.7778 - val_loss: 0.2516 - val_accuracy: 0.9167
Epoch 87/200
108/108 [==============================] - 0s 261us/step - loss: 0.4249 - accuracy: 0.7778 - val_loss: 0.2262 - val_accuracy: 1.0000
Epoch 88/200
108/108 [==============================] - 0s 252us/step - loss: 0.3799 - accuracy: 0.8148 - val_loss: 0.1811 - val_accuracy: 1.0000
Epoch 89/200
108/108 [==============================] - 0s 267us/step - loss: 0.4907 - accuracy: 0.7315 - val_loss: 0.2942 - val_accuracy: 0.8333
Epoch 90/200
108/108 [==============================] - 0s 244us/step - loss: 0.3755 - accuracy: 0.8241 - val_loss: 0.3682 - val_accuracy: 0.9167
Epoch 91/200
108/108 [==============================] - 0s 235us/step - loss: 0.3976 - accuracy: 0.7963 - val_loss: 0.4109 - val_accuracy: 0.8333
Epoch 92/200
108/108 [==============================] - 0s 240us/step - loss: 0.4016 - accuracy: 0.7963 - val_loss: 0.4565 - val_accuracy: 0.8333
Epoch 93/200
108/108 [==============================] - 0s 221us/step - loss: 0.4343 - accuracy: 0.7963 - val_loss: 0.2736 - val_accuracy: 0.8333
Epoch 94/200
108/108 [==============================] - 0s 307us/step - loss: 0.3731 - accuracy: 0.8148 - val_loss: 0.3046 - val_accuracy: 0.9167
Epoch 95/200
108/108 [==============================] - 0s 237us/step - loss: 0.3789 - accuracy: 0.8056 - val_loss: 0.4150 - val_accuracy: 0.9167
Epoch 96/200
108/108 [==============================] - 0s 238us/step - loss: 0.3998 - accuracy: 0.7963 - val_loss: 0.2487 - val_accuracy: 0.9167
Epoch 97/200
108/108 [==============================] - 0s 243us/step - loss: 0.3750 - accuracy: 0.7778 - val_loss: 0.3185 - val_accuracy: 0.7500
Epoch 98/200
108/108 [==============================] - 0s 318us/step - loss: 0.3452 - accuracy: 0.7778 - val_loss: 0.3364 - val_accuracy: 0.8333
Epoch 99/200
108/108 [==============================] - 0s 230us/step - loss: 0.3446 - accuracy: 0.7870 - val_loss: 0.3410 - val_accuracy: 0.9167
Epoch 100/200
108/108 [==============================] - 0s 246us/step - loss: 0.3474 - accuracy: 0.8056 - val_loss: 0.2964 - val_accuracy: 0.9167
Epoch 101/200
108/108 [==============================] - 0s 226us/step - loss: 0.3568 - accuracy: 0.7685 - val_loss: 0.3695 - val_accuracy: 0.9167
Epoch 102/200
108/108 [==============================] - 0s 237us/step - loss: 0.3860 - accuracy: 0.7593 - val_loss: 0.3532 - val_accuracy: 0.9167
Epoch 103/200
108/108 [==============================] - 0s 217us/step - loss: 0.3647 - accuracy: 0.7778 - val_loss: 0.3102 - val_accuracy: 0.9167
Epoch 104/200
108/108 [==============================] - 0s 250us/step - loss: 0.3952 - accuracy: 0.7407 - val_loss: 0.2991 - val_accuracy: 0.8333
Epoch 105/200
108/108 [==============================] - 0s 217us/step - loss: 0.3278 - accuracy: 0.8148 - val_loss: 0.2392 - val_accuracy: 1.0000
Epoch 106/200
108/108 [==============================] - 0s 276us/step - loss: 0.3247 - accuracy: 0.7963 - val_loss: 0.2576 - val_accuracy: 0.8333
Epoch 107/200
108/108 [==============================] - 0s 217us/step - loss: 0.3276 - accuracy: 0.8056 - val_loss: 0.2958 - val_accuracy: 0.6667
Epoch 108/200
108/108 [==============================] - 0s 242us/step - loss: 0.3271 - accuracy: 0.7870 - val_loss: 0.3076 - val_accuracy: 0.6667
Epoch 109/200
108/108 [==============================] - 0s 247us/step - loss: 0.3137 - accuracy: 0.8148 - val_loss: 0.2944 - val_accuracy: 0.8333
Epoch 110/200
108/108 [==============================] - 0s 280us/step - loss: 0.3310 - accuracy: 0.7870 - val_loss: 0.2895 - val_accuracy: 0.8333
Epoch 111/200
108/108 [==============================] - 0s 222us/step - loss: 0.3584 - accuracy: 0.7870 - val_loss: 0.2928 - val_accuracy: 0.7500
Epoch 112/200
108/108 [==============================] - 0s 248us/step - loss: 0.3924 - accuracy: 0.7500 - val_loss: 0.2186 - val_accuracy: 0.9167
Epoch 113/200
108/108 [==============================] - 0s 236us/step - loss: 0.3873 - accuracy: 0.8426 - val_loss: 0.4424 - val_accuracy: 0.9167
Epoch 114/200
108/108 [==============================] - 0s 211us/step - loss: 0.3433 - accuracy: 0.7870 - val_loss: 0.5592 - val_accuracy: 0.9167
Epoch 115/200
108/108 [==============================] - ETA: 0s - loss: 0.2356 - accuracy: 0.90 - 0s 215us/step - loss: 0.3041 - accuracy: 0.8519 - val_loss: 0.3039 - val_accuracy: 0.9167
Epoch 116/200
108/108 [==============================] - 0s 262us/step - loss: 0.2904 - accuracy: 0.8519 - val_loss: 0.5079 - val_accuracy: 0.9167
Epoch 117/200
108/108 [==============================] - 0s 232us/step - loss: 0.2872 - accuracy: 0.8333 - val_loss: 0.5278 - val_accuracy: 0.9167
Epoch 118/200
108/108 [==============================] - 0s 220us/step - loss: 0.2970 - accuracy: 0.8426 - val_loss: 0.2292 - val_accuracy: 0.9167
Epoch 119/200
108/108 [==============================] - 0s 237us/step - loss: 0.3694 - accuracy: 0.7870 - val_loss: 0.5578 - val_accuracy: 0.8333
Epoch 120/200
108/108 [==============================] - 0s 214us/step - loss: 0.3069 - accuracy: 0.8148 - val_loss: 0.4737 - val_accuracy: 0.9167
Epoch 121/200
108/108 [==============================] - 0s 282us/step - loss: 0.3813 - accuracy: 0.7963 - val_loss: 0.5238 - val_accuracy: 0.9167
Epoch 122/200
108/108 [==============================] - 0s 232us/step - loss: 0.3072 - accuracy: 0.8426 - val_loss: 0.2993 - val_accuracy: 0.9167
Epoch 123/200
108/108 [==============================] - 0s 253us/step - loss: 0.4614 - accuracy: 0.7407 - val_loss: 0.2913 - val_accuracy: 0.8333
Epoch 124/200
108/108 [==============================] - 0s 242us/step - loss: 0.3981 - accuracy: 0.7870 - val_loss: 0.2134 - val_accuracy: 0.9167
Epoch 125/200
108/108 [==============================] - 0s 200us/step - loss: 0.3436 - accuracy: 0.7870 - val_loss: 0.2672 - val_accuracy: 0.9167
Epoch 126/200
108/108 [==============================] - 0s 233us/step - loss: 0.3420 - accuracy: 0.8056 - val_loss: 0.2186 - val_accuracy: 1.0000
Epoch 127/200
108/108 [==============================] - 0s 259us/step - loss: 0.3438 - accuracy: 0.8241 - val_loss: 0.3270 - val_accuracy: 0.9167
Epoch 128/200
108/108 [==============================] - 0s 220us/step - loss: 0.3242 - accuracy: 0.7685 - val_loss: 0.2731 - val_accuracy: 0.9167
Epoch 129/200
108/108 [==============================] - ETA: 0s - loss: 0.1548 - accuracy: 0.90 - 0s 251us/step - loss: 0.3148 - accuracy: 0.8241 - val_loss: 0.2863 - val_accuracy: 0.9167
Epoch 130/200
108/108 [==============================] - 0s 233us/step - loss: 0.3248 - accuracy: 0.7963 - val_loss: 0.3029 - val_accuracy: 0.8333
Epoch 131/200
108/108 [==============================] - 0s 241us/step - loss: 0.3097 - accuracy: 0.7870 - val_loss: 0.3202 - val_accuracy: 0.8333
Epoch 132/200
108/108 [==============================] - 0s 519us/step - loss: 0.3146 - accuracy: 0.7500 - val_loss: 0.3854 - val_accuracy: 0.8333
Epoch 133/200
108/108 [==============================] - 0s 321us/step - loss: 0.2937 - accuracy: 0.7963 - val_loss: 0.4425 - val_accuracy: 0.8333
Epoch 134/200
108/108 [==============================] - 0s 302us/step - loss: 0.3036 - accuracy: 0.8056 - val_loss: 0.3091 - val_accuracy: 0.9167
Epoch 135/200

In [37]:
# evaluate the model
_, train_acc = classifier.evaluate(X_train, y_train, verbose=0)
_, test_acc = classifier.evaluate(X_test, y_test, verbose=0)
print('Train: %.3f, Test: %.3f' % (train_acc, test_acc))

Train: 0.825, Test: 0.581